.asm-exam-1 {
    margin: 10px auto;
    border: 1.5px solid rgb(216, 99, 32);
    background-color: tomato;
    border-radius: 20px;
    padding: 2%;
}

.asm-exam-1-result {
    margin: 10px auto;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
}