p span {
    width: 80px;
    display: inline-block;
}

.mycard {
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 20px;
    width: 300px;
    text-align: center;
    padding: 10px;
}

.col-left {
    background-color: whitesmoke;
    float: left;
    width: 40%;
    box-sizing: border-box;
    height: 600px;
}

.col-right {
    background: white;
    float: left;
    width: 60%;
}

.sayHello {
    text-align: center;
}

table {
    height: 380px;
    background-color: rgb(5, 19, 37);
    margin: 0 auto;
}

#Result {
    width: 97%;
    height: 50px;
    margin: auto;
}

.mybtn {
    border: 1px solid white;
    border-radius: 5px;
    background-color: black;
    display: inline-block;
    color: white;
    width: 50px;
    height: 50px;
}

.btn-col {
    border: 1px solid white;
    background-color: black;
    border-radius: 5px;
    display: inline-block;
    color: white;
    width: 50px;
    height: 115px;
}

.btn-row {
    border: 1px solid white;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    display: inline-block;
    color: white;
    width: 105.5px;
    height: 50px;
}

.mycustom-select {
    position: relative;
    font-family: Arial;
}

.mycustom-select select {
    display: none;
    /*hide original SELECT element:*/
    width: 100px;
}

.select-selected {
    background-color: DodgerBlue;
}


/*style the arrow inside the select element:*/

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}


/*point the arrow upwards when the select box is open (active):*/

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

.col1 {
    grid-area: col1;
}

.col2 {
    grid-area: col2;
}

.col3 {
    grid-area: col3;
}

.grid-container {
    display: grid;
    grid-template-areas: 'col1 col2 col3';
    grid-gap: 10px;
    padding: 10px;
}


/*style the items (options), including the selected item:*/

.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}


/*style items (options):*/

.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}


/*hide the items when the select box is closed:*/

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}