.myCarousel {
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px;
}

.myCarousel.border-top {
    border: none;
    border-radius: 10px 10px 0px 0px;
}

.myCarousel.border-bot {
    border: none;
    border-radius: 0px 0px 10px 10px;
}

.carouselImg {
    height: 500px;
    object-fit: cover;
}